/* This is the style sheet for the doctorDashboard.html */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
html, body {
    height: 100%;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    color: #333;
}
  
  
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
.main-content {
    flex-grow: 1;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
 
.search-bar, 
.filter-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    gap: 10px;
}
  
.search-bar input,
.filter-bar select,
.filter-bar button {
    padding: 10px 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}
  
.filter-bar button {
    background-color: #015c5d;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.filter-bar button:hover {
    background-color: #017d7e;
}
  
  
.table-header {
    font-size: 24px;
    font-weight: bold;
    color: #015c5d;
    margin-bottom: 30px;
    margin-right: 0;
}
  
table {
    width: 100%;
    border-collapse: collapse;
    font-family: sans-serif;
    margin-top: 20px;
}
  
thead {
    background: #33333310;
    color: #fff;
}
  
td, th {
    padding: 12px 16px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}
  
 
tbody tr:nth-child(even) {
    background-color: #f9f9f959;
}
  
tbody tr:nth-child(odd) {
    background-color: #ffffffc0;
}
  
tbody tr:hover {
    background-color: #015c5d39;
}
  
  
.prescription-btn {
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 6px;
    background-color: #015c5d;
    color: #fff;
    cursor: pointer;
    transition: transform 0.2s ease, filter 0.2s ease;
}
  
.prescription-btn:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}
  
.prescription-btn:active {
    transform: scale(0.95);
}
  
.noPatientRecord {
    font-size: 16px;
    font-style: italic;
    color: gray;
    margin-top: 20px;
}
  
  
.today-btn {
    margin-right: 10px;
    padding: 10px;
    background-color: #015c5d;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
}
  
.today-btn:hover {
    background-color: #017d7e;
}
  

.date-picker {
    margin-left: 10px;
    margin-top: 13px;
    padding: 10px;
    height: 30px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}
  
@media (max-width: 768px) {
    .main-content {
      padding: 20px;
    }
  
    table {
      font-size: 14px;
    }
  
    td, th {
      padding: 8px 10px;
    }
  
    .table-header {
      font-size: 20px;
      margin-bottom: 20px;
    }
  
    .search-bar,
    .filter-bar {
      flex-direction: column;
      align-items: stretch;
    }
  
    .today-btn,
    .date-picker {
      width: 100%;
      margin: 10px 0;
    }
}
  